<form method ="POST" (ngSubmit)="onSubmit(firstForm)"> 

    <div>
    <label>Name</label>
    <br/>
    <input type="text" name="name" value="" required />
    <br />  <br />
    <span>Warning: FirstName is required</span>

    <label>Email</label>
    <br />
    <input type="text" name="email" value=""  />
    <br />
    <br />
    <label>Message</label>
    <br />
    <input type="text" name="message" value=""  />
    <br />
    <br />
    <input type="submit" name="save" value="save" />
</form>